 </div>
    <div>
      <div class="container">
  <h1>Our Profile</h1>
  <div class="d-flex row justify-content-center">
      <div class="col-lg-4">
        <div class="card bg-light my-3">
          <img height="" />
          <div class="card-body d-flex align-items-center"> 
            <div class="">
              <h3 class="card-title fw-bolder"> <%= @boyfriend.first_name %> <%= @boyfriend.last_name %> </h3>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Age: <%= @boyfriend.age %></li>
            <li Description @boyfriend.boyfriend_description></li>
            <li class="list-group-item"> Price: Rs1199</li>
             <li class="list-group-item"> Email: <%=@boyfriend.email %></li>
             <li class="list-group-item"> Contact Number: <%= @boyfriend.phone_number %></li>
             <li class="list-group-item"> Category: <%= @boyfriend.category %>
          </ul>
          
            <%= link_to "Book!", new_boyfriend_booking_path(@boyfriend), class: 'text-center', class: 'btn btn-flat m-4'%>
          </div>
        </div>
      </div>
  </div>
  <div class="d-flex align-items-center justify-content-between m-4">
   <%= link_to 'Back',:back, class: 'btn btn-flat' %>
  
  </div>
</div>
    
