 <div class="container">
 <br> 
<h2><%= @boyfriend.first_name %> <%= @boyfriend.last_name %></h2>
<p><%= @boyfriend.age %></p>
 <p><%= @boyfriend.email %></p>
 <p><%= @boyfriend.phone_number %></p>
 <p><%= @boyfriend.category %></p>
 <p><%= @boyfriend.boyfriend_description %></p>
<%= link_to "Confirm booking", new_boyfriend_booking_path(@boyfriend)%>
</div>
